h1{
    font-size: 2em;
}

img{
    height: 400px;
    
}

#github{
    height: 50px;
}
.even{
    color: lightyellow;
}

.odd{
    color: lightsalmon;
}
body{
    background-color: darkblue;
    color:cadetblue;
}