.aboutme
{
    position:relative
}
.headshot{
    position:relative;
    height: 200px;
    left: 20px;
}

.text{
    position: absolute;
    left: 400px;
    top: 0
}

.text-content{
    font-size: 20px;
}

img{
    height: 50px;;
    
}

.headers{
    font-size: 2em;
    text-align: center;
}

.subheaders
{
    font-size: 1.5em;
    color: rgb(163, 191, 216);
    margin-left: 20px;
}

.list{
    font-size: 17px;
}

.contacts{
    align-content: center;
}
body
{
    background-color: rgb(51, 107, 139);
    color: rgb(163, 191, 216);
}
