.aboutme
{
    position:relative;    
}

.headshot{
    position:relative;
    height: 225px;
    left: 150px;
    top: -20px;
    border-radius: 50%;
    border: 5px solid beige;
}

.vegas_photo
{
    position: relative;
    height: 100px;
    left: 100px;
    top: 10px;
    border: 5px solid rgb(197, 235, 249);
    border-radius: 25%;
    
}

.text{
    position: absolute;
    left: 500px;
    right: 400px;
    top: 0;
}

.text-content{
    font-size: 20px;
}

img{

    height: 50px;;
    
}

.headers{
    font-size: 2.25em;
    text-align: center;
}

.subheaders
{
    font-size: 1.5em;
}

.b_category
{
    display: flex;
    justify-content: center;

}
.category{
    position: relative;
    height: fit-content;
    width:fit-content;
    display:flex;

}

.p_content{
    text-align: center;
    padding-top: 20px;
    width:400px;
    height:300px;
    background-color: beige;
    border-radius: 5%;
    margin-right: 50px;
    margin-left: 50px;
}

.ec_content{
    text-align: center;
    padding-top: 20px;
    width:400px;
    height:300px;
    background-color: beige;
    border-radius: 5%;
    margin-left: 50px;
    margin-right: 50px;
    padding-right: 20px;
}

.plist{
    font-size: 18px;
    text-align: center;
}

.list{
    font-size: 18px;
    text-align: left;
}

.contacts{
    position: relative;
}

body
{
    background-color: #9dbbd8;
    color:rgb(10, 70, 90);
    margin-top: 5%;
}
